{{ partial "head.html" . }}
<body id="post-index" {{ if isset ($.Scratch.Get "Params") "image" }}class="feature"{{ end }}>
    {{ `<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->` | safeHTML }}

    {{ partial "navigation.html" . }}
    <div class="entry-header">
        {{ if isset ($.Scratch.Get "Params") "image" }}
            {{ $imageparams := index ($.Scratch.Get "Params") "image" }}
            {{ if $imageparams.credit }}
                <div class="image-credit">Image credit: <a href="{{ $imageparams.creditlink }}">{{ $imageparams.credit }}</a></div>
            {{ end }}
            <div class="entry-image">
                <img src="{{ $imageparams.feature | relURL }}" alt="{{ .Title }}">
            </div>
        {{ end }}
        <div class="header-title">
            <div class="header-title-wrap">
                <h1><a href="{{ .Site.BaseURL }}" title="Go to the homepage">{{ .Site.Title }}</a></h1>
                <h2>{{ .Site.Params.subtitle }}</h2>
            </div>
        </div>
    </div>

    <div id="main" role="main">
        {{ partial "blog-logo.html" . }}
        {{ range where .Paginator.Pages "Type" "!=" "page" }}
            <article class="hentry">
                <header>
                    {{ if .Params.image.feature }}
                        <div class="entry-image-index">
                            <a href="{{ .RelPermalink }}" title="{{ .Title }}"><img src="{{ .Params.image.feature | relURL }}" alt="{{ .Title }}"></a>
                        </div>
                    {{ end }}
                    <div class="entry-meta">
                        {{ if gt .Date 0001 }}
                            <span class="entry-date date published updated">
                                <time datetime="{{ .Date }}">
                                    <a href="{{ .RelPermalink }}">{{ .Date.Format "January 2, 2006" }}</a>
                                </time>
                            </span>
                        {{ end }}
                        <span class="entry-reading-time">
                            <i class="fa fa-clock-o"></i>
                            Reading time ~{{ if le .ReadingTime 1 }}1 minute{{ else }}{{ .ReadingTime }} minutes{{ end }}
                        </span>
                    </div>
                    {{ if .Params.link }}
                        <h1 class="entry-title">
                            <a href="{{ .RelPermalink }}" class="permalink" rel="bookmark" title="{{ .Title }}"><i class="fa fa-bookmark"></i></a>
                            <a href="{{ .Params.link }}">{{ .Title }}</a>
                        </h1>
                    {{ else }}
                        <h1 class="entry-title">
                            <a href="{{ .RelPermalink }}" rel="bookmark" title="{{ .Title }}" itemprop="url">{{ .Title }}</a>
                        </h1>
                    {{ end }}
                </header>
                <div class="entry-content">
                    {{ .Content | safeHTML | truncate 500 }}
                    <a href="{{ .Site.BaseURL }}{{ .RelPermalink }}" class="btn">Read More</a>
                </div>
            </article>
        {{ end }}

        {{ partial "pagination.html" . }}
    </div>
    {{ partial "foot.html" . }}
